<%- include('partials/header') %>

<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Task Tracker</h1>
    <p class="lead">A simple application to manage your tasks efficiently.</p>
    <hr class="my-4">
    <p>Start managing your tasks by clicking the button below.</p>
    <a class="btn btn-primary btn-lg" href="/tasks" role="button">View Tasks</a>
  </div>
</div>

<%- include('partials/footer') %>